In [ ]:
#rules for declaring the variable
first_name=""""priya"""
print(first_name)
type(first_name)

In [3]:
print(first_name.title())

Priya

In [5]:
type(first_name)

str

In [13]:
my_name="vinod"
print(my_name)

vinod

In [12]:
type(my_name)

str

In [14]:
print(my_name.title())

Vinod

In [15]:
print(my_name.upper())

VINOD

In [17]:
print(my_name.lower())

vinod

In [3]:
print("\tpython")

	python

In [4]:
print("fav_lang:\npython\nc++\nc\njava")

fav_lang:
python
c++
c
java

In [5]:
print("fav_lang:\n\tpython\nc++\nc\njava")

fav_lang:
	python
c++
c
java

In [6]:
print("fav_lang:\n\tpython\n\tc++\n\tc\n\tjava")

fav_lang:
	python
	c++
	c
	java

In [7]:
print("fav_lang:'_'python\nc++\nc\njava")

fav_lang:'_'python
c++
c
java

In [10]:
fav_lang='python'
print(fav_lang)

python

In [11]:
fav_lang.lstrip()

'python'

In [13]:
print(fav_lang)

python

In [14]:
fav_lang.rstrip()

'python'

In [15]:
students=['priya','reena','sneha','bharat','keerti','ravi','ananya']
print(students)

['priya', 'reena', 'sneha', 'bharat', 'keerti', 'ravi', 'ananya']

In [16]:
type(students)

list

In [18]:
print(students[2])

sneha

In [20]:
print(students[6])

ananya

In [30]:
print(f"keep up the good work",{student[2]})

SyntaxError: invalid syntax (<ipython-input-30-a742106a20c3>, line 1)

In [31]:
print(students)

['priya', 'reena', 'sneha', 'bharat', 'keerti', 'ravi', 'ananya']

In [34]:
#req: to add priya inthe list
students.append('divya')

In [35]:
print(students)

['priya', 'reena', 'sneha', 'bharat', 'keerti', 'ravi', 'ananya', 'priya', 'divya']

In [36]:
students.insert(2,'vinod')

In [37]:
print(students)

['priya', 'reena', 'vinod', 'sneha', 'bharat', 'keerti', 'ravi', 'ananya', 'priya', 'divya']

In [38]:
students[0]='meenakshi'

In [39]:
print(students)

['meenakshi', 'reena', 'vinod', 'sneha', 'bharat', 'keerti', 'ravi', 'ananya', 'priya', 'divya']

In [40]:
del students[1]

In [41]:
print(students)

['meenakshi', 'vinod', 'sneha', 'bharat', 'keerti', 'ravi', 'ananya', 'priya', 'divya']

In [4]:
students=['priya','reena','sneha','bharat','keerti','ravi','ananya']
print(students)

['priya', 'reena', 'sneha', 'bharat', 'keerti', 'ravi', 'ananya']

In [5]:
for x in students:
    print(x)

priya
reena
sneha
bharat
keerti
ravi
ananya

In [6]:
students=['priya','reena','sneha','bharat','keerti','ravi','ananya']
print(students)

['priya', 'reena', 'sneha', 'bharat', 'keerti', 'ravi', 'ananya']

In [7]:
print(f"keep up the good work,{students[1]}")

SyntaxError: invalid syntax (<ipython-input-7-ef34d84ce355>, line 1)

In [8]:
print(students)

['priya', 'reena', 'sneha', 'bharat', 'keerti', 'ravi', 'ananya']

In [9]:
for z in students:
    print(z)

priya
reena
sneha
bharat
keerti
ravi
ananya

In [4]:
my_name='vinod'
print(my_name)

vinod

In [5]:
print(f"keep up the good work, {my_name.title()}")

SyntaxError: invalid syntax (<ipython-input-5-4547da71603a>, line 1)

In [7]:
print(f "keep up the good work,{my_name.title()}")

SyntaxError: invalid syntax (<ipython-input-7-686acebc3540>, line 1)

In [8]:
my_name='vinod'
print("f keep up the good work,{my_name.title()}")

f keep up the good work,{my_name.title()}

In [9]:
print(my_name)

vinod

In [11]:
my_name='vinod'
print(f" keep up the good work,{my_name.title()}")

SyntaxError: invalid syntax (<ipython-input-11-bb89bfa9f6c2>, line 2)

In [2]:
student=['rahul','monika','suresh','vinod','sangeetha','sathish','priya','chitra']

In [3]:
print(student)

['rahul', 'monika', 'suresh', 'vinod', 'sangeetha', 'sathish', 'priya', 'chitra']

In [4]:
type(student)

list

In [ ]:
#req: I want to arramnge the above list in alphabetical order.....temprary

In [5]:
print(sorted(student))

['chitra', 'monika', 'priya', 'rahul', 'sangeetha', 'sathish', 'suresh', 'vinod']

In [6]:
print(student)

['rahul', 'monika', 'suresh', 'vinod', 'sangeetha', 'sathish', 'priya', 'chitra']

In [7]:
#req: I want to arramnge the above list in alphabetical order.....permanent
student.sort()
print(student)

['chitra', 'monika', 'priya', 'rahul', 'sangeetha', 'sathish', 'suresh', 'vinod']

In [8]:
print(student)

['chitra', 'monika', 'priya', 'rahul', 'sangeetha', 'sathish', 'suresh', 'vinod']

In [9]:
len(student)

8

In [10]:
print(student)

['chitra', 'monika', 'priya', 'rahul', 'sangeetha', 'sathish', 'suresh', 'vinod']

In [11]:
student.reverse()

In [12]:
print(student)

['vinod', 'suresh', 'sathish', 'sangeetha', 'rahul', 'priya', 'monika', 'chitra']

In [13]:
del student[1]
print(student)

['vinod', 'sathish', 'sangeetha', 'rahul', 'priya', 'monika', 'chitra']

In [14]:
x=student.pop()
print(student)

['vinod', 'sathish', 'sangeetha', 'rahul', 'priya', 'monika']

In [15]:
print(x)

chitra

In [16]:
y=student.pop(2)
print(student)

['vinod', 'sathish', 'rahul', 'priya', 'monika']

In [17]:
print(y)

sangeetha

In [18]:
student=['priya','vinod','chitra','sathish','sangeetha','sarath','monisha','suresh']
print(student)

['priya', 'vinod', 'chitra', 'sathish', 'sangeetha', 'sarath', 'monisha', 'suresh']

In [19]:
len(student)

8

In [20]:
#how to implement slicing
print(student[0:2])

['priya', 'vinod']

In [21]:
print(student[2:4])

['chitra', 'sathish']

In [22]:
print(student[4:6])

['sangeetha', 'sarath']

In [23]:
print(student[6:8])

['monisha', 'suresh']

In [24]:
print(student[:2])

['priya', 'vinod']

In [25]:
print(student[1:])

['vinod', 'chitra', 'sathish', 'sangeetha', 'sarath', 'monisha', 'suresh']

In [29]:
#print alternate name
print(student[0:7:2])

['priya', 'chitra', 'sangeetha', 'monisha']

In [30]:
print(student)

['priya', 'vinod', 'chitra', 'sathish', 'sangeetha', 'sarath', 'monisha', 'suresh']

In [32]:
x=list(range(1,41))
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40]

In [35]:
#print even number..
even_numbers=list(range(2,41,2))
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40]

In [36]:
#print odd number...
odd_numbers=list(range(3,41,2))
print(odd_numbers)

[3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39]

In [37]:
#how to define tuple..
list=(200,50)
print(list)

(200, 50)

In [38]:
type(list)

tuple

In [39]:
#example of immutable which means not modified...
list[0]=250

TypeError: 'tuple' object does not support item assignment

In [40]:
print(list[0])

200

In [41]:
# to create new tupple over old..
list=(250,50)
print(list)

(250, 50)

In [42]:
stud=('priya','reena','mona','priyanka','kanchan','sonia')
print(stud)

('priya', 'reena', 'mona', 'priyanka', 'kanchan', 'sonia')

In [43]:
#verify tuple...
type(stud)

tuple

In [44]:
print(stud[1])

reena

In [45]:
# How to define for statement...
for x in stud:
    print(x)

priya
reena
mona
priyanka
kanchan
sonia

In [46]:
print(x.title())

Sonia

In [47]:
for x in stud:
    print(x.title())

Priya
Reena
Mona
Priyanka
Kanchan
Sonia

In [56]:
#dictionary
user={'username':'codetraining01','lastname':'training','dob':'01-01-2019','pwd': '12345'}
print(user)

{'username': 'codetraining01', 'lastname': 'training', 'pwd': '12345', 'dob': '01-01-2019'}

In [57]:
type(user)

dict

In [58]:
print(user['lastname'])

training

In [59]:
print(user['training'])

KeyError: 'training'

In [60]:
user['checkin']='farzi cafe'
print(user)

{'username': 'codetraining01', 'lastname': 'training', 'pwd': '12345', 'checkin': 'farzi cafe', 'dob': '01-01-2019'}

In [61]:
user['pwd']=54321
print(user)

{'username': 'codetraining01', 'lastname': 'training', 'pwd': 54321, 'checkin': 'farzi cafe', 'dob': '01-01-2019'}

In [62]:
del user['lastname']
print(user)

{'username': 'codetraining01', 'pwd': 54321, 'checkin': 'farzi cafe', 'dob': '01-01-2019'}

In [3]:
# if condition...
if 5>2:
 print("five is greater than two")

five is greater than two

In [4]:
if 5>2:
 print("five is greater than two")
if 5>2:
 print("five is greater than two")

five is greater than two
five is greater than two

In [9]:
x="awsome"
print("python is " + x)

python is awsome